body {
background-color: #DFE;
font-family:"Courier New", Courier, monospace;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
}

#boxes {
    position:relative;
}

#buttons {
    position:absolute;
    right:10px;
    top:95px
}

#clipboardCopy {
    margin-top:200px;
}

textarea {
    margin-bottom:20px;
}

button {
    height:100px;
    width:200px;
    margin-bottom:20px;
}
